{% extends '_base.html' %}

{% block content %}

{% if form.errors %}
<ul class=errors>
    {% for field, errors in form.errors.items() %}
    <li>{{ field }} : {{ errors }}</li>
    {% endfor %}
</ul>
{% endif %}

    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.image.label }} {{ form.image }}
        {{ form.is_image_private.label}} {{ form.is_image_private }}
        <input type="submit" value="Send">
    </form>

<ul class="list-unstyled">
    {% for d in docs %}
    <li class="media">
        <img class="mr-3" alt="" src="{{ url_for('static', filename=d['doc'].path) }}"/>
        <div class="media-body">
            <ul class="list-unstyled">
                <li>width: {{ d['doc'].width }}</li>
                <li>height: {{ d['doc'].height }}</li>
                <li>private: {{ d['doc'].private }}</li>
                <li>url: <a href="{{ url_for('images', image_id=d['doc'].uuid ) }}">View</a>
                </li>
                </ul>
        </div>
    </li>
    {% else %}
    No pictures yet.
    Every picture set not private will be displayed here.
    {% endfor %}
</ul>
{{ post_result }}

{% endblock %}
