{% extends '_base.html' %}

{% block content %}
<div class="media">
    <img class="align-self-center mr-3" alt="BOOOO"
         src="{{ url_for('static', filename=image_path) }}"/>
<div class="media-body">
        <li>width: {{ width }}</li>
        <li>height: {{ height }}</li>
        </ul>
        </div>
        </div>
        {% endblock %}
