{% extends '_base.html' %}

{% block content %}
<div class="media">
    <img class="align-self-center mr-3" alt="" src="{{ url_for('static', filename=image.path) }}"/>
    <div class="media-body">
        <ul class="list-unstyled">
            <li>width: {{ image. width }}</li>
            <li>height: {{ image.height }}</li>
            <li>private: {{ image.private }}</li>
            <li>url: <a href="{{ url_for('images', image_id=image.uuid) }}">direct link</a></li>
        </ul>
    </div>
</div>
{% endblock %}
